# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build
/bin

# Ignore config files and directories
/.vscode
/.settings
/.git
/.idea
.classpath
.project
.gitpod.yml

# Ignore Javadoc directory and files
/doc